<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName-1">First Name</label>
        <input type="text" class="form-control" id="firstName-1" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName-1">Last Name</label>
        <input type="text" class="form-control" id="lastName-1" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group col-md-3">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apt/Ste/Floor">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCountry">Country</label>
      <select id="inputCountry" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
</form>